In [3]:
#Loading the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as web

In [4]:
# Getting stock data
companies = ['AMZN', 'AAPL', 'NFLX', 'GOOG']
#price_data = web.get_data_yahoo(companies,start = '2014-01-01', end = '2018-05-31')['Adj Close']
price_data = web.get_data_yahoo(companies,start = '2014-01-01', end = '2014-12-30')['Adj Close']
price_data

Symbols           AMZN       AAPL       NFLX        GOOG
Date
2014-01-02  397.970001  17.516611  51.831429  554.481689
2014-01-03  396.440002  17.131842  51.871429  550.436829
2014-01-06  393.630005  17.225264  51.367142  556.573853
2014-01-07  398.029999  17.102074  48.500000  567.303589
2014-01-08  401.920013  17.210375  48.712856  568.484192
...                ...        ...        ...         ...
2014-12-23  306.290009  25.472557  48.061428  529.137268
2014-12-24  303.029999  25.352594  48.871429  527.322266
2014-12-26  309.089996  25.800751  48.578571  532.567810
2014-12-29  312.040009  25.782646  48.847141  528.877991
2014-12-30  310.299988  25.468027  49.032856  528.967712

[251 rows x 4 columns]

In [6]:
# Getting the log returns
log_ret = np.log(price_data/price_data.shift(1))
log_ret

Symbols         AMZN      AAPL      NFLX      GOOG
Date
2014-01-02       NaN       NaN       NaN       NaN
2014-01-03 -0.003852 -0.022211  0.000771 -0.007322
2014-01-06 -0.007113  0.005438 -0.009769  0.011088
2014-01-07  0.011116 -0.007177 -0.057435  0.019095
2014-01-08  0.009726  0.006313  0.004379  0.002079
...              ...       ...       ...       ...
2014-12-23 -0.000816 -0.003548 -0.000743  0.010839
2014-12-24 -0.010701 -0.004721  0.016713 -0.003436
2014-12-26  0.019801  0.017523 -0.006010  0.009898
2014-12-29  0.009499 -0.000702  0.005513 -0.006952
2014-12-30 -0.005592 -0.012278  0.003795  0.000170

[251 rows x 4 columns]

In [7]:
price_data.shape

(251, 4)

# Unconditional

In [8]:
# Simulating the portfolio returns and risk of 5 random portfolios
num_port = 5

#Rolling windows parameteres
M=20 #windows size
H=10 #shift

#initilisation
L=0
count=0

num_rows, num_cols = price_data.shape


#Rolling windows
while (M +H*count) <= num_rows:
    #updating Rolling windows parameteres
    L = M +H*count
    K = H*count
    
    print("Rolling Window: [",K,L,"]")

    # Creating an empty array to store portfolio returns
    port_returns = np.zeros((num_port))
    # Creating an empty array to store portfolio risks
    port_risk = np.zeros((num_port))
    # Creating an empty array to store portfolio weights
    all_wts = np.zeros((num_port, num_cols))
    # Creating an empty array to store portfolio sharpe ratio
    sharpe_ratio = np.zeros((num_port))
    
    
    for i in range(num_port):
        wts = np.random.uniform(size = len(price_data.columns))
        wts = wts/np.sum(wts)
    
        # saving weights in the array
        all_wts[i,:] = wts
    
        
        # Portfolio Returns
        lg_returns = log_ret.iloc[K:L] #log returns for each window
        port_ret = np.sum(lg_returns.mean() * wts)
        port_ret = (port_ret + 1) ** 252 - 1
        
        # Saving Portfolio returns
        port_returns[i] = port_ret
        
        #uncondtional covariance for each window
        cov_mat = lg_returns.cov() * 252
        
        # Portfolio Risk 
        
        #Minimum variance
        vol = np.dot(wts.T, np.dot(cov_mat, wts))
        port_risk[i] = vol

        
        ##Maximum Diversification
        #md = np.dot(np.dot(wts.T, vol),vol**(-0.5))
        #port_risk[i] = md             
        
        # Portfolio Sharpe Ratio
        # Assuming 0% Risk Free Rate
        sr = port_ret / vol
        sharpe_ratio[i] = sr
        
    
    #minimum variance, allocation that minimizes the variance of portfolio return
    min_var = all_wts[port_risk.argmin()]
    #print(min_var)
    
    #Print the  Maximum Diversificationo weights
    #md_var = all_wts[port_risk.argmax()]
    #print(md_var)
        
    #max_sr = all_wts[sharpe_ratio.argmax()]
    #print(max_sr)
        
    #Let's get sharpe ratio
    print("Sharpe Ratio")
    print(sharpe_ratio.max())
    print("")
    
    #print(port_risk.min())
    count= count + 1

Rolling Window: [ 0 20 ]
Sharpe Ratio
8.711519631427793

Rolling Window: [ 10 30 ]
Sharpe Ratio
43.54569474104531

Rolling Window: [ 20 40 ]
Sharpe Ratio
42.57102615112772

Rolling Window: [ 30 50 ]
Sharpe Ratio
20.80163391132224

Rolling Window: [ 40 60 ]
Sharpe Ratio
-33.29990758982504

Rolling Window: [ 50 70 ]
Sharpe Ratio
-8.676152446864373

Rolling Window: [ 60 80 ]
Sharpe Ratio
-3.37296258099708

Rolling Window: [ 70 90 ]
Sharpe Ratio
14.877294129812332

Rolling Window: [ 80 100 ]
Sharpe Ratio
62.00006859344204

Rolling Window: [ 90 110 ]
Sharpe Ratio
228.29757225986913

Rolling Window: [ 100 120 ]
Sharpe Ratio
29.520693990262494

Rolling Window: [ 110 130 ]
Sharpe Ratio
12.692772794227777

Rolling Window: [ 120 140 ]
Sharpe Ratio
32.16410943739335

Rolling Window: [ 130 150 ]
Sharpe Ratio
-5.378231638965619

Rolling Window: [ 140 160 ]
Sharpe Ratio
15.893355566253128

Rolling Window: [ 150 170 ]
Sharpe Ratio
106.59090186466376

Rolling Window: [ 160 180 ]
Sharpe Ratio
-3.515892588140204

Rolling Window: [ 170 190 ]
Sharpe Ratio
-5.122993055696885

Rolling Window: [ 180 200 ]
Sharpe Ratio
-5.486535287745919

Rolling Window: [ 190 210 ]
Sharpe Ratio
-3.5179843033961724

Rolling Window: [ 200 220 ]
Sharpe Ratio
72.21089551065003

Rolling Window: [ 210 230 ]
Sharpe Ratio
28.364049630840068

Rolling Window: [ 220 240 ]
Sharpe Ratio
-17.541614515292274

Rolling Window: [ 230 250 ]
Sharpe Ratio
-6.273742056129537

# Conditional